body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  line-height: 1.8;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}

h1 {
  font-size: 2.5em;
  color: #f3c623;
}

h2 {
  font-size: 1.2em;
  color: #ccc;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: #f3c623;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.lyrics p {
  margin: 20px 0;
  font-size: 1.1em;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.lyrics p.active {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  opacity: 1;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
